@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  color: rgb(0, 0, 0);
  background: linear-gradient(to bottom, transparent, rgb(235, 232, 233)) rgb(195, 220, 251);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#__next {
  height: 100%;
}
