@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  color: rgb(0, 0, 0);
  background: linear-gradient(to bottom, transparent, rgb(255, 255, 255)) rgb(212, 235, 240);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#__next {
  height: 100%;
}
